<nav class="containerNavbar">
    <img src="../../../assets/reshot-icon-menu-6WNDMFBCR9-10d9f.svg" class="menu" alt="">
    <a href="#" class="navBrand">ArturStore</a>

    <form class="form">
        <input type="text" id="search" placeholder="pesquisar" class="inputPesquisa">
    </form>


    <div class="containerNavIcons">
        <ul class="containerUl">
            <li><a href="#"><img src="../../../assets/reshot-icon-shopping-cart-W2FJV6L7U5.svg" class="cart" alt=""></a></li>
            <li><a href="#"><img src="../../../assets/heart-svgrepo-com.svg" class="heart" alt=""></a></li>
        </ul>
    </div>

    <div class="login">
        <p class="text-login">Faça <a href="">Login</a> ou se <a href="">Cadastre</a></p>
    </div>
</nav>
<default-nav-bar [navList]="navList">