/* You can add global styles to this file, and also import other style files */
body,html
{
    padding: 0;
    margin: 0;
}

input{
    display: flex;
    border-radius: 4px;
    border:1px solid gray;

}
input:focus{
    border: 1px solid #474843;
    outline: none;
}

ul,li{
    list-style-type: none;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justifyCenter{
    justify-content: center;
}
.justifyBetween{
    justify-content: space-between;
}